<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="xmlFilePath" value="C:\Users\user\source\repos\StaffManagement\StaffManagement.Data\XMLData.xml"/>
		<!--<add key ="classType"  value = "StaffManagement.Data.XMLStaffRepository"/>-->
		<add key="jsonFilePath" value ="C:\Users\user\source\repos\StaffManagement\StaffManagement.Data\JsonData.json"/>
		<add key="classType" value="StaffManagement.Data.JsonStaffRepository,StaffManagement.Data"/>
	</appSettings>
</configuration>