<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="xmlFilePath" value="C:\Users\user\source\repos\StaffManagement\StaffManagement.Data\XMLData.xml"/>
		<!--<add key ="classType"  value = "StaffManagement.Data.XMLStaffRepository,StaffManagement.Data"/>-->
		<add key="jsonFilePath" value ="C:\Users\user\source\repos\StaffManagement\StaffManagement.Data\JsonData.json"/>
		<add key="classType" value="StaffManagement.Data.DBStaffRepository,StaffManagement.Data"/>
		<add key="dbConnection" value="Data Source=LAPTOP-60J7BPQ9\SQLEXPRESS;Initial Catalog=StaffManagement;User ID=sa;Password=123456789"/>
	</appSettings>
</configuration>