#staffTable {	
  border-collapse: collapse;
  width: 60%; 
  }

#staffTable td, #staffTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#staffTable tr:nth-child(even){background-color: #f2f2f2;}

#staffTable tr:hover {background-color: #ddd;}

#staffTable th {	
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
   background-color: #78c57c; 
}